/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

.main {
    min-height: 100vh;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

progress {
    width: 100%;
}

input[type="file"] {
    display: none;
}

.container {
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

/* Date Picker ------------------------------------ */
.active-nav {
    border-bottom: 1px solid white;
}

/* Date Picker ------------------------------------ */
.react-datepicker__input-container input {
    display: block;
    padding: 0.2rem;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    margin-right: 2px;
    margin-bottom: 1rem;
    width: 100% !important;
}
.react-datepicker-wrapper,
.react-datepicker__input-container {
    width: 100% !important;
}

/* Image upload ------------------------------------ */
.fileContainer {
    border-radius: 0;
    width: fit-content;
    padding: 1rem;
}

.chooseFileButton {
    border-radius: 0 !important;
}

.uploadPictureContainer {
    padding: 5px !important;
    margin: 0.5rem !important;
}

/* Numbers ------------------------------------ */
.number-format {
    display: block;
    width: 100%;
    padding: 0.2rem;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

/* Alerts ------------------------------------ */
.Toastify__toast-container {
    margin-top: 6rem;
}

/* Pagination ------------------------------------ */
.previous a,
.next a,
.pagination-ul-container li {
    cursor: pointer;
}

.disabled a {
    cursor: default;
}

.active-pagination a {
    font-weight: bold;
    color: #034f84;
    outline: none;
}

.right-align {
    position: relative;
    height: 35px;
}

.pagination-ul-container {
    display: flex;
    width: fit-content;
    float: right;
    height: 35px;
}

.pagination-ul-container li {
    margin: 4px;
}
/* Commit test ------------------------------------ */
