/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.05rem;
}

html {
  overflow-y: scroll;
}

body {
  background-color: black;
}
