/* Global Styles */
:root {
    --primary-color: #17a2b8;
    --dark-color: #343a40;
    --light-color: #e3e3e3;
    --danger-color: #dc3545;
    --success-color: #28a745;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input[type="file"] {
    display: none;
}

.custom-file {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 2px 12px;
    cursor: pointer;
}

#map {
    width: 100%;
    text-align: center;
    border: 1px solid grey;
    width: 603px;
    margin: auto;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

.img-icon {
    margin: auto;
    max-height: 175px;
    max-width: 250px;
    border: 1px solid #888;
}

.img-empty {
    border: 1px solid #888;
    background-color: #ccc;
    max-height: 250px;
    max-width: 250px;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.avatar-icon {
    width: 60%;
    margin: auto;
    max-height: 200px;
    max-width: 200px;
}

/* Utilities */
.container {
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: var(--primary-color);
}

.text-dark {
    color: var(--dark-color);
}

/* Padding */
.p {
    padding: 0.5rem;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}
.py {
    padding: 0.5rem 0;
}
.py-1 {
    padding: 1rem 0;
}
.py-2 {
    padding: 2rem 0;
}
.py-3 {
    padding: 3rem 0;
}

/* Margin */
.m {
    margin: 0.5rem;
}
.m-1 {
    margin: 1rem;
}
.m-2 {
    margin: 2rem;
}
.m-3 {
    margin: 3rem;
}
.my {
    margin: 0.5rem 0;
}
.my-1 {
    margin: 1rem 0;
}
.my-2 {
    margin: 2rem 0;
}
.my-3 {
    margin: 3rem 0;
}

.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-3 {
    margin-bottom: 3rem;
}

.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}

.btn {
    display: inline-block;
    background: var(--light-color);
    color: #333;
    padding: 0.2rem 1.3rem;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
}

.badge {
    font-size: 0.8rem;
    padding: 0.1rem;
    text-align: center;
    margin: 0.3rem;
    background: var(--light-color);
    color: #333;
}

.alert {
    padding: 0.8rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
    background: var(--light-color);
    color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
    background: var(--danger-color);
    color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
    background: var(--success-color);
    color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
}

.btn:hover {
    opacity: 0.8;
}

.bg-light,
.badge-light {
    border: #ccc solid 1px;
}

.round-img {
    border-radius: 50%;
}

.line {
    height: 1px;
    background: #ccc;
    margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Forms */
.form .form-group {
    margin: 1.2rem 0;
}

.form .form-text {
    display: block;
    margin-top: -1rem;
    color: #888;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
    display: block;
    width: 100%;
    padding: 0.2rem;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    margin-right: 2px;
}

input:disabled {
    background: #dddddd;
}

.form select {
    -webkit-appearance: none;
    border-radius: 0px;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='%23444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

.form input[type="submit"],
button {
    font: inherit;
}

.table th,
.table td {
    padding: 1rem;
    text-align: left;
}

.table th {
    background: var(--light-color);
}

.login-container {
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
    height: fit-content;
    -webkit-box-shadow: 1px 1px 3px 2px #ccc;
    -moz-box-shadow: 1px 1px 3px 2px #ccc;
    box-shadow: 1px 1px 3px 2px #ccc;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px var(--primary-color);
    opacity: 0.9;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
}

.navbar a:hover {
    color: var(--primary-color);
}

.navbar .welcome span {
    margin-right: 0.6rem;
}

.progressbar {
    margin-top: 3.5rem;
}

progress {
    width: 100%;
}

/* Landing Page */
.landing {
    position: relative;
    background: url("./img/showcase.jpg") no-repeat center center/cover;
    height: 100vh;
    margin-bottom: -12rem;
}

.landing-inner {
    color: #fff;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-item {
    width: 500px;
}

.img-list {
    height: 300px;
    width: 500px;
}

.between {
    width: 100%;
    border-bottom: 3px solid var(--primary-color);
}

/* avatar editor */
.avatareditor {
    text-align: center;
    margin: auto;
    display: grid;
    width: 350px;
}

.avatar-preview {
    height: 250px;
    width: 250px;
    border: 1px solid grey;
}

/* Photo viewer max sizes */
.image-gallery-slide img {
    display: block;
    max-width: 1200px;
    max-height: 800px;
    width: auto;
    height: auto;
}

/* User profile */
.img-profile {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    align-items: center;
    grid-gap: 2rem;
    padding: 1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
}

/* Dash profile */
.dash-profile {
    grid-template-columns: 2fr 4fr 2fr;
    align-items: center;
    grid-gap: 2rem;
    padding: 1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
}

/* Date picker */
.react-datepicker-wrapper,
.react-datepicker__input-container {
    width: 100% !important;
}

/* Custom button */
.btn-custom {
    margin: 2px auto;
    width: 160px;
    text-align: center;
}

/* Listing details */
.span-item {
    font-weight: bold;
}

.listings-view {
    display: grid;
    grid-template-columns: 1fr;
}

.listing-search-bar {
    display: flex;
    justify-self: end;
    margin-bottom: 10px;
}

.listing-search-bar button {
    margin-right: 0;
}

/* listingdetails */
.listingdetails {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem;
    grid-gap: 1rem;
    vertical-align: top;
    justify-content: middle;
}

.listingdetails-nophotos {
    text-align: center;
    border: 1px solid black;
    background-color: #ccc;
}

/* Styling for photos */
.slide-container {
    width: 100%;
    margin: auto;
}

/* Sortable */
.sortable-container {
    width: 300px;
    border: 1px solid grey;
    padding: 5px;
    margin: auto;
    background-color: var(--light-color);
}

.sort-img-sep {
    text-align: center;
}

.sortable-img {
    width: 200px;
    border: 1px solid black;
}

/* Delete photos */
.delete-container {
    margin: auto;
    width: 400px;
    text-align: center;
}

.img-delete-item {
    display: block;
    margin: 1rem;
}

.img-delete-img {
    width: 200px !important;
}

.img-delete-btn {
    position: absolute;
    margin-left: -53px;
}

/* Styling for photos */
.slide-container {
    max-width: 700px;
    justify-self: center;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px;
    width: 700px;
}

.contact-map {
    width: 600;
    height: 500;
}

/* Image upload styling */
.upload-images {
    border: darkgrey solid 1px;
    background: #e6e6e6;
    padding: 2px;
    text-align: center;
    margin-top: 20px;
}

.chooseFileButton {
    border-radius: 0 !important;
}

.fileContainer {
    border-radius: 0px !important;
    border: none;
    background: #e6e6e6 !important;
    padding: 2px;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
}

.spinner {
    position: fixed;
    left: 50%;
    z-index: 1;
}

.spinner img {
    max-height: 100px;
    max-width: 100px;
    transform: translate(-50%, -50%);
}

.uploadPictureContainer {
    padding: 5px !important;
    margin: 0.5rem !important;
}

.preview-photos-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    max-height: 500px;
    grid-gap: 10px;
    margin: auto;
    height: auto;
    overflow: hidden;
}

.preview-photos-container img {
    max-width: 400px;
    max-height: 250px;
    border: 1px solid grey;
    cursor: pointer;
}

.upload-finished {
    padding: 3px 10px;
    border: 1px solid grey;
    font-size: 20px;
    background-color: var(--success-color);
    color: white;
}

/* Pagination */
.previous a,
.next a,
.pagination-ul-container li {
    cursor: pointer;
}

.disabled a {
    cursor: default;
}

.active-pagination a {
    font-weight: bold;
    color: #034f84;
    outline: none;
}

.right-align {
    position: relative;
    height: 35px;
}

.pagination-ul-container {
    display: flex;
    width: fit-content;
    float: right;
    height: 35px;
}

.pagination-ul-container li {
    margin: 4px;
}

.Toastify__toast-container {
    margin-top: 50px;
}

/* Mobile Styles */
@media (max-width: 1230px) {
    .preview-photos-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .preview-photos-container img {
        justify-self: center !important;
    }
    .preview-photos-container img:not(:first-child) {
        display: none;
    }
    .container {
        margin-top: 8rem;
    }

    .hide-sm {
        display: none;
    }

    /* Text Styles */
    .x-large {
        font-size: 3rem;
    }

    .large {
        font-size: 2rem;
    }

    .medium {
        font-size: 1.5rem;
    }

    .lead {
        font-size: 1rem;
    }

    /* Navbar */
    .navbar {
        display: block;
        text-align: center;
    }

    .navbar ul {
        text-align: center;
        justify-content: center;
    }

    .navbar h1 {
        margin-bottom: 1rem;
    }

    .navbar .welcome {
        display: none;
    }

    /* contact info */
    #map {
        width: 323px;
        margin: auto;
    }

    #map iframe {
        width: 320px;
        height: 250px;
    }

    /* listing details */
    .listingdetails {
        display: block;
        margin: auto;
        text-align: center;
        min-width: 300px;
    }

    /* Styling for photos */
    .slide-container {
        width: 250px;
        margin: auto;
    }

    .each-slide > div {
        height: 200px;
    }

    /* Profile Page */
    .profile {
        display: block;
        margin: auto;
        text-align: center;
    }

    .profile-top img,
    .profile img {
        width: 200px;
        margin: auto;
    }

    .dash-buttons a {
        display: block;
        width: 100%;
        margin-bottom: 0.2rem;
    }
}
