@import "styles/variables.scss";

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  position: relative;
  border: 1px solid $font-color;
  border-radius: 2px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  max-width: 400px;
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    ),
    linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    ),
    linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 5px 5px, 0px 0px;
}

.login-title {
  color: $font-color;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.rl {
  color: $font-color;
  width: fit-content;
  cursor: pointer;
  position: absolute;
}
