@import "styles/variables.scss";

// MEMBERS
.grid-container {
  background-color: $font-color;
}

.grid {
  margin: auto;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 350px);
  grid-gap: 10px;
  padding: 10px 0;
  @media only screen and (max-width: 1450px) {
    grid-template-columns: repeat(3, 350px);
  }
  @media only screen and (max-width: 1100px) {
    grid-template-columns: repeat(2, 350px);
  }
  @media only screen and (max-width: 800px) {
    grid-template-columns: repeat(1, 350px);
  }
}

.griditem {
  height: max-content;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}

.griditem-img-container {
  position: relative;
  overflow: hidden;
  height: 300px;
  // border: 1px solid $primary-color;
  // border-bottom: none;
}

.griditem-img {
  object-fit: cover;
}

.griditem-hoverinfo {
  position: absolute;
  width: 350px;
  background-color: $secondary-color;
  height: 300px;
  padding: 75px 10px 10px;
  font-weight: bold;
  color: $font-color;
  white-space: pre-wrap;
  text-align: center;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
  z-index: 2;
  line-height: 25px;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.griditem-info {
  background-color: $secondary-color;
  font-weight: bold;
  padding: 5px 10px;
  color: $font-color;
}

.griditem-info1 {
  font-size: 18px;
  margin-bottom: 3px;
}

.griditem-info2 {
  font-size: 14px;
}

.griditem-info-icon-container {
  position: absolute;
  z-index: 3;
  width: 330px;
}

.griditem-info-icon {
  cursor: pointer;
  font-weight: bold;
  font-size: 50px;
  width: max-content;
  cursor: pointer;
  font-weight: bold;
  font-size: 50px;
  color: $dark-font;
  margin: 5px 10px;
}
