:root {
  --primary-color: #282c34;
  --font-color: rgb(252, 252, 252);
  --secondary-font-color: rgb(170, 170, 170);
  --blue-color: rgb(38, 161, 238);
  --hover: rgb(102, 185, 236);
  --dark-font: rgb(121, 121, 121);
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.05rem;
  color: var(--font-color);
}

html {
  overflow-y: scroll;
}
