.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  height: 70px;
  background-color: rgba(71, 71, 71, 0.5);
  z-index: 5;
  position: fixed;
  width: 100%;
}

.header-logo {
  max-width: 150px;
  margin-right: 20px;
}

.header-link-div {
  a {
    text-decoration: none;
    font-size: 20px;
    color: var(--font-color);
  }
}

.mobile-icon {
  display: none;
}

.dropdown-menu-normal {
  display: flex;
  font-size: 30px;
  column-gap: 40px;
  a {
    text-decoration: none;
    color: var(--font-color);
  }
  a:hover {
    color: var(--hover);
  }
}

.dropdown-menu {
  display: "flex";
  row-gap: 20px;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: rgba(71, 71, 71, 0.8);
  flex-direction: column;
  font-size: 40px;
  text-align: left;
  padding: 10px;
  row-gap: 20px;
}

.dropdown-menu a {
  text-decoration: none;
  color: var(--font-color);
  padding: 10px;
}

@media (max-width: 768px) {
  .header-link-div {
    display: none;
  }
  .mobile-icon {
    display: block;
    cursor: pointer;
  }
  .dropdown-menu-normal {
    display: none;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
