@import "styles/variables.scss";

.generic-button {
  background-color: $secondary-color; /* Green */
  border: none;
  color: $font-color;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  width: fit-content;
  margin: auto;
  cursor: pointer;
}

.generic-button:hover {
  background-color: $hover;
}

.generic-button:disabled {
  cursor: not-allowed;
}

.btn-negative {
  background-color: red !important;
}
