@import "styles/variables.scss";

.pageCover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 300px;
}

.pageCoverImg {
  object-fit: fill;
  @media (max-width: 1000px) {
    object-fit: cover;
    max-height: 100vh;
  }
}

.pageCentered {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(216, 216, 216);
  font-weight: bold;
  @media (max-width: 1000px) {
    top: 50%;
  }
}

.pageSpecial {
  margin-bottom: 50px;
  font-size: 80px;
  white-space: nowrap;
  @media (max-width: 1000px) {
    font-size: 40px;
  }
}
