$primary-color: #282c34;
$font-color: rgb(252, 252, 252);
$secondary-font-color: rgb(170, 170, 170);
$secondary-color: rgb(38, 161, 238);
$hover: rgb(102, 185, 236);
$dark-font: rgb(121, 121, 121);

a:link {
  text-decoration: none;
  color: $font-color;
}
a:hover {
  color: $hover !important;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: $font-color;
}

.active-link {
  > a {
    color: $secondary-color;
  }
}
